/*Font initialising*/
@font-face {
    font-family: 'telegraf-regular';
    src: url(../assets/fonts/Telegraf-Regular.otf);
}

@font-face {
    font-family: 'telegraf-bold';
    src: url(../assets/fonts/Telegraf-Bold.otf);
}

@font-face {
    font-family: 'pixel';
    src: url(../assets/fonts/pixelfj8pt1.normal.otf);
}

/* General variables */
:root {
    --bgColor: #000000;
    --bgOffGrey: #191919;
    --txtColor: #FFFFFF;
    --txtColorDark: #000000;
    --primaryBlue: #2489E7;
    --primaryYellow: #FFEB40;
    --primaryGreen: #50C78D;
    --primaryRed: #E8422C;

    --primaryFont: telegraf-regular;
    --primaryFontBold: telegraf-bold;
    --secondaryFont: pixel;

    --mxBodyDesktop: 5rem;
    --mxBodyMobile: 1rem;
}

/* General settings */
* {
    cursor: url("../assets/cursor/cursor-default.svg"), auto;
    font-family: var(--primaryFont);
    color: var(--txtColor);
}

body {
    height: 100%;

    background-color: var(--bgColor);

    margin-top: 1rem;
}

section:first-child {
    margin-top: 10rem;
}

section {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: var(--mxBodyMobile);
    margin-right: var(--mxBodyMobile);
}

section h2 {
    text-align: center;
    font-size: 1.5rem;
}

a {
    text-decoration: none; /*link underlines are ass*/
}

a:hover {
    cursor: url("../assets/cursor/cursor-hover.svg"), auto;
}

/* General classes */
.dino {
    margin-top: 3rem;
    width: 14rem;
    mix-blend-mode: color-burn;
    overflow: hidden;
    user-select: none;
}

.dino:hover {
    transform-origin: bottom middle;
    transform: translateX(-10px) rotate(-10deg);
}

.pixel-text {
    font-family: var(--secondaryFont);
    font-weight: 100;
}

.bold-text {
    font-family: var(--primaryFontBold);
}

.yellow-text {
    color: var(--primaryYellow);
}

.logo {
    width: 9rem;
}

.fuck-cursor:hover {
    cursor: url("../assets/cursor/cursor-fuck.svg"), auto;
}

.capitalized {
    text-transform: uppercase;
}

.primary-button-blue {
    text-align: center;
    background-color: var(--primaryBlue);
    padding: .7rem 1.5rem .7rem 1.5rem;

    font-size: .8rem;
}

.primary-button-blue:hover {
    background-color: white;
    color: var(--txtColorDark);
    position: relative;
    top: -1px;
    left: -1px;

    -webkit-box-shadow: 3px 3px 0px 1px var(--primaryBlue); 
    box-shadow: 3px 3px 0px 1px var(--primaryBlue);
}

.primary-button-blue:active {
    top: 0;
    left: 0;
    
    -webkit-box-shadow: 1px 1px 0px 1px var(--primaryBlue); 
    box-shadow: 1px 1px 0px 1px var(--primaryBlue);
}

.primary-button-green {
    text-align: center;
    background-color: var(--primaryGreen);
    color: var(--txtColorDark);

    padding: .7rem 1.5rem .7rem 1.5rem;

    font-size: .8rem;
}

.primary-button-green:hover {
    background-color: white;
    position: relative;
    top: -1px;
    left: -1px;

    -webkit-box-shadow: 3px 3px 0px 1px var(--primaryGreen); 
    box-shadow: 3px 3px 0px 1px var(--primaryGreen);
}

.primary-button-green:active {
    top: 0;
    left: 0;
    
    -webkit-box-shadow: 1px 1px 0px 1px var(--primaryGreen); 
    box-shadow: 1px 1px 0px 1px var(--primaryGreen);
}

.primary-button-yellow {
    text-align: center;
    background-color: var(--primaryYellow);
    color: var(--txtColorDark);

    padding: .7rem 1.5rem .7rem 1.5rem;

    font-size: .8rem;
}

.primary-button-yellow:hover {
    background-color: white;
    position: relative;
    top: -1px;
    left: -1px;

    -webkit-box-shadow: 3px 3px 0px 1px var(--primaryYellow); 
    box-shadow: 3px 3px 0px 1px var(--primaryYellow);
}

.primary-button-yellow:active {
    top: 0;
    left: 0;
    
    -webkit-box-shadow: 1px 1px 0px 1px var(--primaryYellow); 
    box-shadow: 1px 1px 0px 1px var(--primaryYellow);
}

/* Navigation */
.menu-wrap-full {
    display: none;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.493) 0%, rgba(0, 0, 0, 0) 100%);
}

.menu-wrap-compact {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.39) 0%, rgba(0, 0, 0, 0) 100%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;

    margin-bottom: 1rem;
}

.menu-wrapper { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: var(--mxBodyMobile);
    margin-right: var(--mxBodyMobile);
}

.menu-wrap-compact .logo {
    position: relative;
    z-index: 10;
}

.menu-wrap-compact .hamburger {
    z-index: 10;
}

.menu-wrap-compact nav {
    background-color: var(--bgColor);

    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1.6rem;

    font-weight: 1000;
    font-size: 1.5rem;

    visibility: hidden;
}

/* Index intro page */
.scroll-hint {
    display: none;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    margin-left: 0;
    margin-right: 0;
}

.intro-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-left: var(--mxBodyMobile);
    padding-right: var(--mxBodyMobile);
}

.intro-text h1 {
    font-size: 2.2rem;
    text-align: center;
    font-weight: 700;
    font-style: normal;

    max-width: 24rem;
}

.intro-text p {
    font-size: 1rem;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    line-height: 131.88%;

    margin-top: 1rem;

    max-width: 24rem;
}

.intro-text a {
    margin-top: 1rem;
}

.intro-visual {
    width: 100%;
    background-image: url("../assets/blue-bg-with-texture.jpg");

    display: flex;
    flex-direction: row;
    justify-content: end;

    overflow: hidden;
}

/* Footer */
.footer {
    background-color: var(--bgOffGrey);
    color: var(--txtColor);
    height: 800px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.footer .footer-content {
    height: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer .footer-content .footer-section {
    flex: 1;
    padding: 2rem 4rem;
}

.footer .footer-content .footer-section .pages ul li{
    display: block;
    margin-bottom: 10px;
}

.footer .footer-bottom {
    background-color: white;
    color: black;
    max-height: 11px;
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    padding-bottom: 0.4rem;
    overflow: hidden;
    font-size: 1rem;
}

.footer .footer-section .footer-title {
    font-size: 0.8rem;
}


/* Index projects */
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-preview h2 {
    margin-bottom: 2rem;
}

.project-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.project-blue {
    position: relative;
    top: 50px;
    left: -15px;
}

.project-red {
    position: relative;
    top: 60px;
    left: 2px;
}

.project-green {
    position: relative;
    top: -20px;
}

.project-blue div {
    background-color: var(--primaryBlue);
}

.project-blue div img {
    width: 33vw;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .6rem;
    padding-bottom: .6rem;

    cursor: url("../assets/cursor/cursor-hover.svg"), auto;
}

.project-green div {
    background-color: var(--primaryGreen);
}

.project-green div img {
    width: 50vw;
    padding-top: .2rem;
    padding-bottom: .2rem;

    cursor: url("../assets/cursor/cursor-hover.svg"), auto;
}

.project-red div {
    background-color: var(--primaryRed);
}

.project-red div img {
    width: 22vw;
    padding-left: 1rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    cursor: url("../assets/cursor/cursor-hover.svg"), auto;
}

.project h3 {
    font-size: .6rem;
    margin-top: .3rem;

    cursor: url("../assets/cursor/cursor-hover.svg"), auto;
}

.project div img {
    mix-blend-mode: color-burn; 
}

.projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    max-width: 25rem;
}

@media (min-width: 640px) {
    /* Navigation */
    /* Navigation is fine on tablet imo (Bailey) */
    
    /* projects */
    .project {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .project-blue {
        position: relative;
        top: 50px;
        left: -130px;
    }
    
    .project-red {
        position: relative;
        top: 100px;
    }
    
    .project-green {
        position: relative;
        top: -10px;
        left: -30px;
    }
    
    .project-blue div img {
        width: 12rem;
        padding-left: .8rem;
        padding-right: .8rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    
    .project-green div img {
        width: 15rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-right: 1.5rem;
        padding-left: 1.5em;
    }
    
    .project-red div img {
        width: 10rem;
        padding-left: 1rem;
        padding-right: 1.8rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

@media (min-width: 1024px) {
    /* General settings */
    body {    
        margin-top: 0;
    }

    section {
        margin-left: var(--mxBodyDesktop);
        margin-right: var(--mxBodyDesktop);
    }

    section:first-child {
        margin-top: 0rem;
    }

    .dino {
        margin-top: 0;

        overflow: visible;
        height: 50vw;
        width: fit-content;
        max-height: 55rem;
    }

    /* Navigation */
    .menu-wrap-compact {
        display: none; /* You can't change html element order in css so just don't display this and display another one */
    }

    .menu-wrap-full {
        display: inline;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
    }

    .menu-wrap-full nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: var(--mxBodyDesktop);
        margin-right: var(--mxBodyDesktop);
    }

    .logo-link {
        margin-left: 7rem;
        margin-right: 7rem;
    }

    .logo {
        cursor: url("../assets/cursor/cursor-hover.svg"), auto;
    }

    /* Index page */
    .intro {
        flex-direction: row;
        justify-content: space-between;
        gap: 0rem;

        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        padding-left: var(--mxBodyDesktop);
        height: 100vh;
    }
    
    .intro-text {
        align-items: flex-start;
        width: 50%;
    }
    
    .intro-text h1 {
        font-size: 5vw;
        text-align: left;
        padding-right: 5rem;
    
        max-width: none;
    }
    
    .intro-text p {
        text-align: left;
        padding-right: 10rem;
        max-width: none;
        font-size: 18px;
        line-height: 131.88%;
    }

    .intro-text a {
        margin-top: 3rem;
    }
    
    .intro-visual {
        width: 50%;
        height: 100%;
        background-image: url("../assets/blue-bg-with-texture.jpg");
    
        padding-left: var(--mxBodyDesktop);

        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: space-between;
    
        overflow: hidden;
    }

    .scroll-hint {
        display: inline;
        position: relative;
        top: -3rem;
        left: -5rem;

        transform: rotate(-90deg);
    }

    .scroll-hint p {
        position: relative;
        text-align: end;
        margin-bottom: .7rem;

        animation-name: scrollHint;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 2s;
    }

    .scroll-hint-line {
        background-color: white;
        height: 2px;
        width: 8rem;
    }
    
    /* Footer */
    .footer {
        background-color: var(--bgOffGrey);
        color: var(--txtColor);
        height: 400px;
        position: relative;
        align-items: center;
        justify-content: center;

    }

    .footer-logo {
        text-align: center;
        width: 18rem;
        padding-left: 2rem;
    }

    .footer .footer-content {
        height: 350px;
        display: flex;
        flex-direction: row;
    }

    .footer .footer-content .footer-section {
        flex: 1;
        padding: 4rem 2rem 5rem;
        text-align: start;
    }

    .footer .footer-content .footer-section p{
        margin-bottom: 1.5rem;
    }

    .footer .footer-content .footer-section .pages ul li{
        display: block;
        margin-bottom: 10px;
    }

    .footer .footer-section .footer-title {
        font-size: 1.1rem;
    }

    /* projects */
    .project-preview h2 {
        font-size: 3.4rem;
        margin-top: 8rem;
    }

    .project {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .project-blue {
        position: relative;
        top: 240px;
        left: -12vw;
    }
    
    .project-red {
        position: relative;
        top: 280px;
        left: 40px;
    }
    
    .project-green {
        position: relative;
        top: -10px;
        left: 0px;
    }
    
    .project-blue div img {
        width: 26vw;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 2.4rem;
        padding-bottom: 2.4rem;
    }
    
    .project-green div img {
        width: 30vw;
        padding-top: 5rem;
        padding-bottom: 5rem;
        padding-right: 3rem;
        padding-left: 3em;
    }
    
    .project-red div img {
        width: 35vw;
        padding-left: 1rem;
        padding-right: 1.8rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .project h3 {
        font-size: 1rem;
        margin-top: .8rem;
    }
}

@keyframes scrollHint {
    0% {
        left: 5rem;
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        left: -8rem;
    }
}