/*Font initialising*/
@font-face {
    font-family: 'Telegraf';
    src: url('../assets/fonts/Telegraf-Bold.woff2') format('woff2'),
        url('../assets/fonts/Telegraf-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Telegraf';
    src: url('../assets/fonts/Telegraf-Regular.woff2') format('woff2'),
        url('../assets/fonts/Telegraf-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'pixel';
    src: url(../assets/fonts/pixelfj8pt1.normal.otf);
}

/* General variables */
:root {
    --bgColor: #000000;
    --bgOffGrey: #191919;
    --bgTextGrey: #262626;
    --txtColor: #FFFFFF;
    --txtColorDark: #000000;
    --primaryBlue: #2489E7;
    --primaryYellow: #FFEB40;
    --primaryGreen: #50C78D;
    --primaryRed: #E8422C;

    --primaryFont: Telegraf;
    --primaryFontBold: telegraf-bold;
    --secondaryFont: pixel;

    --mxBodyDesktop: 5rem;
    --mxBodyMobile: 1rem;
}

/* General settings */
/*meetMonocle*/
#goodbytes__widget {
    bottom: 200px !important;
}

/*CookieConsent*/
.cc-color-override-688238583.cc-revoke {
    color: black !important;
    background-color: yellow !important;
}

* {
    cursor: url("../assets/cursor/cursor-default.svg") -1 0, auto;
    font-family: var(--primaryFont);
    color: var(--txtColor);
}
::selection {
    background-color: var(--primaryGreen);
}

.dropdown-icon {
    user-select: none;
}

.blue-span::selection {
    background-color: var(--primaryBlue);
    color: white;
}

.red-span::selection {
    background-color: var(--primaryRed);
    color: white;
}

.yellow-span::selection {
    background-color: var(--primaryYellow);
    color: black;
}

body {
    height: 100%;

    background-color: var(--bgColor);

    margin-top: 1rem;
}

.changeAnimation {
    animation: changeKeyword .7s infinite;
}

section {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: var(--mxBodyMobile);
    margin-right: var(--mxBodyMobile);
}

section h2 {
    text-align: center;
    font-size: 1.5rem;
}

a {
    text-decoration: none; /*link underlines are ass*/
}

a:hover {
    cursor: url("../assets/cursor/cursor-hover.svg"), auto;
}

*:active{
    cursor: url("../assets/cursor/cursor-click.svg"), auto;
}
a:active{
    cursor: url("../assets/cursor/cursor-click.svg"), auto;
}

.project div img:active {
    cursor: url("../assets/cursor/cursor-click.svg"), auto;
}

.get-in-touch a img:active {
    cursor: url("../assets/cursor/cursor-click.svg"), auto;
}

.get-in-touch a p:active {
    cursor: url("../assets/cursor/cursor-click.svg"), auto;
}

.contact-icon:active {
    cursor: url("../assets/cursor/cursor-click.svg"), auto;
}

.contact-icon-small:active {
    cursor: url("../assets/cursor/cursor-click.svg"), auto;
}

/* General classes */
.dino {
    margin-top: 3rem;
    mix-blend-mode: color-burn;
    overflow: hidden;
    user-select: none;
    max-width: 20rem;
}

.dino:hover {
    transform-origin: bottom middle;
    transform: translateX(-10px) rotate(-10deg);
    cursor: url("../assets/cursor/cursor-rock.svg"), auto;
}

.pixel-text {
    font-family: var(--secondaryFont);
    font-weight: 100;
    font-smooth: never;
    -webkit-font-smoothing: none;
}

.bold-text {
    font-weight: bold;
}

.yellow-text {
    color: var(--primaryYellow);
}

.logo {
    width: 9rem;
}

.fuck-cursor:hover {
    cursor: url("../assets/cursor/cursor-fuck.svg"), auto;
}

.capitalized {
    text-transform: uppercase;
}

.primary-button-blue {
    text-align: center;
    background-color: var(--primaryBlue);
    padding: .7rem 1.5rem .7rem 1.5rem;

    letter-spacing: 0.12em;

    font-size: .8rem;
}

.primary-button-blue:hover {
    background-color: white;
    color: var(--txtColorDark);
    position: relative;
    top: -1px;
    left: -1px;

    -webkit-box-shadow: 3px 3px 0px 1px var(--primaryBlue);
    box-shadow: 3px 3px 0px 1px var(--primaryBlue);
}

.primary-button-blue:active {
    top: 0;
    left: 0;

    -webkit-box-shadow: 1px 1px 0px 1px var(--primaryBlue);
    box-shadow: 1px 1px 0px 1px var(--primaryBlue);
}

.primary-button-green {
    text-align: center;
    background-color: var(--primaryGreen);
    color: var(--txtColorDark);

    padding: .7rem 1.5rem .7rem 1.5rem;

    letter-spacing: 0.12em;

    font-size: .8rem;
}

.primary-button-green:hover {
    background-color: white;
    position: relative;
    top: -1px;
    left: -1px;

    -webkit-box-shadow: 3px 3px 0px 1px var(--primaryGreen);
    box-shadow: 3px 3px 0px 1px var(--primaryGreen);
}

.primary-button-green:active {
    top: 0;
    left: 0;

    -webkit-box-shadow: 1px 1px 0px 1px var(--primaryGreen);
    box-shadow: 1px 1px 0px 1px var(--primaryGreen);
}

.primary-button-yellow {
    text-align: center;
    background-color: var(--primaryYellow);
    color: var(--txtColorDark);

    padding: .7rem 1.5rem .7rem 1.5rem;

    letter-spacing: 0.12em;

    font-size: .8rem;
}

.primary-button-yellow:hover {
    background-color: white;
    position: relative;
    top: -1px;
    left: -1px;

    -webkit-box-shadow: 3px 3px 0px 1px var(--primaryYellow);
    box-shadow: 3px 3px 0px 1px var(--primaryYellow);
}

.primary-button-yellow:active {
    top: 0;
    left: 0;

    -webkit-box-shadow: 1px 1px 0px 1px var(--primaryYellow);
    box-shadow: 1px 1px 0px 1px var(--primaryYellow);
}

.primary-button-red {
    text-align: center;
    background-color: var(--primaryRed);
    padding: .7rem 1.5rem .7rem 1.5rem;

    letter-spacing: 0.12em;

    font-size: .8rem;
}

.primary-button-red:hover {
    background-color: white;
    color: var(--txtColorDark);
    position: relative;
    top: -1px;
    left: -1px;

    -webkit-box-shadow: 3px 3px 0px 1px var(--primaryRed);
    box-shadow: 3px 3px 0px 1px var(--primaryRed);
}

.primary-button-red:active {
    top: 0;
    left: 0;

    -webkit-box-shadow: 1px 1px 0px 1px var(--primaryRed);
    box-shadow: 1px 1px 0px 1px var(--primaryRed);
}

/* Preloader */
#loader {
    background-color: var(--bgColor);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999999;
    transition: opacity .7s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo-lottie {
    width: 500px;
    height: 100px;
}

/* Navigation */
.menu-wrap-full {
    display: none;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.493) 0%, rgba(0, 0, 0, 0) 100%);
    transition: 0.1s linear;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.menu-wrap-full a {
    padding-bottom: 0;
}

.menu-wrap-compact {
    z-index: 1000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.39) 0%, rgba(0, 0, 0, 0) 100%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;

    margin-bottom: 1rem;
    transition: 0.1s linear;
}

.menu-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: var(--mxBodyMobile);
    margin-right: var(--mxBodyMobile);
}

.menu-wrapper a {
    padding-bottom: 0;
}

.menu-wrap-compact .logo {
    position: relative;
    z-index: 10;
    width: 7rem;
}

.menu-wrap-compact .hamburger {
    z-index: 10;
}

.menu-wrap-compact nav {
    background-color: var(--bgColor);

    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1.6rem;

    font-weight: 1000;
    font-size: 1.5rem;

    visibility: hidden;
}

/* Contact */
.h1-contact {
    font-size: 2.5rem;
    text-align: center;
    margin: 130px 2rem 5rem;
}

.contact-right {
    display: none;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 10rem;
}

.contact-left div {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 2rem;
}

.contact-left div a{
    padding-bottom: 0;
}

.contact-left div a img:hover {
    cursor: url("../assets/cursor/cursor-hover.svg"), auto;
}

.contact-mail-phone a {
    font-size: 1.3rem;
}

.contact-icon-small {
    width: 2rem;
    margin-bottom: .2rem;
}

.contact-icon {
    margin-bottom: 1rem;
}

.contact-icon:hover {
    cursor: url("../assets/cursor/cursor-hover.svg"), auto;
}

/* Index intro page */
.scroll-hint {
    display: none;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-left: 0;
    margin-right: 0;
    margin-top: 8rem;
}

.intro-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-left: var(--mxBodyMobile);
    padding-right: var(--mxBodyMobile);
}

.intro-text h1 {
    font-size: 2.2rem;
    text-align: center;
    font-weight: 700;
    font-style: normal;

    max-width: 24rem;
}

.intro-text p {
    font-size: 1rem;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    line-height: 131.88%;

    margin-top: 1rem;

    max-width: 24rem;
}

.intro-text a {
    margin-top: 1rem;
}

.intro-visual {
    width: 100%;
    background-image: url("../assets/blue-bg-with-texture.jpg");
    background-size: cover;

    display: flex;
    flex-direction: row;
    justify-content: end;

    overflow: hidden;
}

/* Footer */
.footer {
    background-color: var(--bgOffGrey);
    color: var(--txtColor);
    height: 700px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.footer-section p, a, li {
    margin-bottom: 1rem;
}

.contact a {
    display: block;
}

.footer .footer-content {
    height: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .footer-content .footer-section .pages ul li{
    display: block;
    margin-bottom: 10px;
}

.footer .footer-bottom {
    background-color: white;
    color: black;
    max-height: 11px;
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    overflow: hidden;
    font-size: 1rem;
}

.footer .footer-section .footer-title {
    font-size: 0.8rem;
    margin-top: 1.2rem;
}


/* Index projects */
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
}

.project div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.project-preview h2 {
    margin-bottom: 2rem;
}

.project-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.project-preview-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.project-blue div img {
    width: 70%;

    cursor: url("../assets/cursor/cursor-hover.svg"), auto;
}

.project-green div img {
    width: 70%;

    cursor: url("../assets/cursor/cursor-hover.svg"), auto;
}

.project-red div img {
    width: 70%;
    cursor: url("../assets/cursor/cursor-hover.svg"), auto;
}

.project-yellow div img {
    width: 70%;
    cursor: url("../assets/cursor/cursor-hover.svg"), auto;
}

.project h3 {
    font-size: .6rem;
    margin-top: .3rem;

    cursor: url("../assets/cursor/cursor-hover.svg"), auto;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 25rem;
}

/* Get in touch */
.get-in-touch {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2rem;
    overflow-x: hidden;
}
.get-in-touch h2 {
    color: var(--bgTextGrey);
    font-weight: bold;

    font-size: 26vw;
    transform: scaleX(1.08);
    max-width: 100vw;

    user-select: none;
}

.get-in-touch a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-weight: 700;
    position: relative;
    top: -33vw;
}

.get-in-touch img {
    width: 2.2rem;
}
.get-in-touch p {
    font-size: 6vw;
}
.intro-approach {
    margin-left: var(--mxBodyMobile);
    margin-right: var(--mxBodyMobile);
    margin-top: 10rem;
    margin-bottom: 3rem;
}
.intro-approach h1 {
    font-size: 2.2rem;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 3rem;
}
.grid-values {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 3rem;
    text-align: center;
}
.grid-values h3 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    font-weight: bold;
}
.grid-values p {
    line-height: 150%;
}

.grid-values-team {
    display: grid;
    grid-template-columns: 100%;
    gap: 0rem;
    text-align: center;
}

.grid-team {
    width: 80% !important;
    padding-top: 1em;
}

.grid-values-team div h3{
    padding-top: 1em;
}

.icon-values {
    width: 3rem;
    padding-bottom: 2rem;
}
.about {
    margin: 3rem var(--mxBodyMobile);
    padding: 2rem 1rem;
    background-color: var(--primaryGreen);
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    line-height: 150%;
}
.about span {
    font-family: var(--secondaryFont);
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    color: var(--bgColor);
}
.about h3 {
    font-size: 1.5rem;
    color: var(--bgColor);
    font-weight: bold;
    padding-bottom: 2rem;
}
.about p {
    color: var(--bgColor);
}
.about a {
    color: var(--bgColor);
    text-decoration: underline;
}

/*approach*/
.services {
    margin-top: 6rem;
    margin-bottom: 8rem;
}

/* Index meet the team */
.team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 8rem;
}

.team-section h2 {
    max-width: 15rem;
}

.team-section div {
    width: 100%;
    height: 50vw;
    max-height: 30rem;

    margin-bottom: 1rem;
}

.team-section img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.team-section img:hover {
    cursor: url("../assets/cursor/cursor-rock.svg"), auto;
}

.team-section-short {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 8rem;
}
.team-section-short img {
    display: none;
}
.team-section-short h2 {
    margin-bottom: 2rem;
}

/* services */
.services h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
}
.services p {
    padding: 1rem 2rem;
    width: max-content;
    font-family: var(--primaryFont);
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid var(--txtColor);
}
.services div {
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    gap: 2rem;
    margin-bottom: 3rem;
}
.service-1 {
    grid-row-start: 1;
}
.service-2 {
    grid-row-start: 2;
    grid-column-start: 10;
    place-self: end;
}
.service-3 {
    grid-row-start: 3;
    grid-column-start: 7;
    place-self: end;
}
.service-4 {
    grid-row-start: 4;
    grid-column-start: 9;
    place-self: end;
}
.service-5 {
    grid-row-start: 5;
    grid-column-start: 10;
    place-self: end;
}
.service-6 {
    grid-row-start: 6;
}
.service-7 {
    grid-row-start: 7;
    grid-column-start: 10;
    place-self: end;
}
.service-8 {
    grid-row-start: 8;
    grid-column-start: 9;
    place-self: end;
}
.service-9 {
    grid-row-start: 9;
    grid-column-start: 10;
    place-self: end;
}
.service-10 {
    grid-row-start: 10;
}
.hatch {
    margin: 0;
    padding: 3rem var(--mxBodyMobile);
    background-color: var(--bgOffGrey);
    text-align: center;
}
.hatch h2 {
    font-size: 2rem;
}
.hatch p {
    line-height: 150%;
    padding-bottom: 1rem;
    max-width: 30rem;
    margin: auto;
}
.hatch span {
    color: var(--primaryGreen);
    text-transform: uppercase;
    font-family: var(--secondaryFont);
    letter-spacing: 130%;
    font-weight: bold;
}
.hatch img {
    text-align: center;
    margin: 2rem auto;
}
.eggs-mobile {
    display: block;
    width: 60vw;
}
.eggs-desktop {
    display: none;
}

/* Teams page */
/* Intro */
main .intro-team {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 6rem;
    margin-bottom: 4rem;
}

.intro-team h1 {
    font-size: 2.6rem;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 1.6rem;
}

.intro-team p {
    text-align: center;
    max-width: 15rem;
    font-size: 1rem;
    line-height: 130%;
}

/* Pictures aka a whole bunch of resizing */
.pictures-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}

.name-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: .5rem;
    margin-top: 5px;
    background-color: var(--bgColor);
}

.description-wrapper {
    background-color: rgb(0, 0, 0);
    width: 15rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    position: relative;
    z-index: 5;
    visibility: hidden;
    margin-bottom: -100%;  /* Remove height from object */
}

.description-wrapper p {
    font-size: 15px !important;
    text-align: left !important;
    padding-left: 1rem;
    padding-right: 1rem;
}

.name-wrapper .dropdown-icon {
    width: 17px;
    height: 9px;
}

.team-member img:hover {
    cursor: url("../assets/cursor/cursor-rock.svg"), auto;
    object-fit: cover;
}

.team-member p {
    text-align: end;
    font-size: .6rem;
    letter-spacing: 0.12em;
}

.team-member img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}

.team-member {
    position: relative;
    height: 15rem;
}

.team-member:last-child {
    margin-bottom: 5rem;
}

.intro-work {
    margin-top: 10rem;
    margin-bottom: 3rem;
}
.intro-work h1 {
    font-size: 2.2rem;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 3rem;
}

/*DETAIL PAGE*/


.project-green-other {
    margin-bottom: 2rem;
}

.project-green-other div img {
    max-width: 50vw;
    padding-top: .2rem;
    padding-bottom: .2rem;

    cursor: url("../assets/cursor/cursor-hover.svg"), auto;
}


.project-red-other div img {
    max-width: 50vw;
    padding-top: .2rem;
    padding-bottom: .2rem;

    cursor: url("../assets/cursor/cursor-hover.svg"), auto;
}

.project-red-other div img {
    mix-blend-mode: normal;
    object-fit: contain;
}
.project-green-other div img {
    mix-blend-mode: normal;
    object-fit: contain;
}

section .other-h2 {
    text-align: start;
}

.detail-text-1 {
    padding-left: 1rem;
}
.detail-text-2 {
    padding-left: 1rem;
}
.geste1 {
    background-color: #6E98FF;
}
.geste2 {
    background-color: #FED71F;
}

.weareimd1 {
    background-color: #0600FF;
}
.weareimd2 {
    background-color: #FCD7F7;
}

.extend1 {
    background-color: #5F8FDE;
}

.extend2{
    background-color: #DDA112;
}

.owc1 {
    background-color: #C7B3A2;
}
.owc2 {
    background-color: #F7B49C;
}

.detail-eyecatcher {
    margin: 3rem var(--mxBodyMobile);
    padding: 2rem 1rem;
    display: flex;
    line-height: 150%;
    justify-content: center;
}

.detail-eyecatcher img {
    max-width: 70%;
    margin-left: 15%;
    max-height: 30rem;
    object-fit: cover;
}

.detail-eyecatcher-2 {
    margin: 3rem var(--mxBodyMobile);
    display: flex;
    line-height: 150%;
    justify-content: center;
}

.detail-eyecatcher-2 img {
    max-width: 70%;
    margin-left: 15%;
    height: 100%;
    max-height: 36rem;
    object-fit: cover;
}

.detail-eyecatcher-3 {
    background-image: url(./../assets/projects/extend_detail3.png);
    object-fit: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center ;
    margin: 3rem var(--mxBodyMobile);
    display: flex;
    line-height: 150%;
    justify-content: center;
}

.detail-eyecatcher-3 img {
    visibility: hidden;
    max-width: 70%;
    margin-left: 15%;
    height: 100%;
    max-height: 36rem;
    object-fit: cover;
}

.detail-eyecatcher-4 {
    margin: 3rem var(--mxBodyMobile);
    display: flex;
    line-height: 150%;
    justify-content: center;
}

.detail-eyecatcher-4 iframe {
    max-width: 70%;
    margin-left: 15%;
    height: 100%;
    max-height: 36rem;
    object-fit: cover;
}


.about-detail-1 {
    margin-top: 1rem;
    max-width: 80%;
    line-height: 1.2em;
}

.project-preview-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.project-preview-detail h2 {
    margin-bottom: 2rem;
}

.other-text-1 {
    margin-bottom: 2rem;
}

#image-owc {
    width: 47.5rem;
}

.detail-cta {
    text-align: center;
}

/* Cookie policy */
.intro-policy {
    margin-top: 8rem;
}

.intro-policy h1 {
    font-size: 11vw;
}

.policy-p {
    max-width: 40rem;
}

@media (min-width: 640px) {
    #logo-lottie {
        width: 500px;
        height: 150px;
    }

    /*DETAIL PAGE*/

    .project-green-other div img {
        max-width: 20vw;
        max-height: 20vw;
    }

    .project-red-other div img {
        max-width: 20vw;
        max-height: 20vw;
    }

    .project-red-other {
        margin-top: 60%;
        margin-right: 2rem;
    }

    .project-other-left {
        float: left;
    }

    .project-other-right {
        float: right;

    }
    .about-detail-1 {
        line-height: 1.3em;
    }

    /* Teams page */
    /* team members */
    .team-member img {
        height: auto;
        object-fit: cover;
    }

    .member-1 {
        top: -25px;
        left: -100px;
    }

    .member-2 {
        top: -100px;
        left: 125px;
    }

    .member-3 {
        top: -190px;
        left: -160px;
    }

    .member-4 {
        top: -260px;
        left: 120px;
    }

    .member-5 img {
        width: 23rem;
    }

    .member-5 .description-wrapper {
        width: 23rem;
    }

    .member-5 {
        top: -200px;
        left: -100px;
    }

    .member-6 {
        top: -220px;
        left: 140px;
    }

    .member-7 img {
        width: 20rem;
    }

    .member-7 .description-wrapper {
        width: 20rem;
    }

    .member-7 {
        top: -265px;
        left: -120px;
    }

    .member-8 img {
        width: 25rem;
    }

    .member-8 .description-wrapper {
        width: 25rem;
    }

    .member-8 {
        top: -270px;
        left: 0;
    }

    .member-9 {
        top: -230px;
        left: 130px;
    }

    .member-10 {
        top: -350px;
        left: -130px;
    }

    .member-11 {
        top: -280px;
        left: 20px;

        margin-bottom: -280px; /* Remove the margin position relative leaves behind */
    }

    .team-member:last-child {
        margin-bottom: 0rem;
    }

    /* Navigation */
    /* Navigation is fine on tablet imo (Bailey) */

    /* projects */
    .project {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .project-blue {
        width: fit-content;
        position: relative;
        top: -100px;
        left: 180px;
    }

    .project-red {
        position: relative;
        top: -100px;
        left: -20px;
    }

    .project-yellow{
        position: relative;
        top: -100px;
        left: 150px;
    }

    .project-green {
        position: relative;
        top: -10px;
        left: -120px;
    }

    .project-blue div img {
        width: 12rem;
    }

    .project-green div img {
        width: 15rem;
    }

    .project-red div img {
        width: 15rem;
    }

    .project-yellow div img {
        width: 12rem;
    }
    /* Get in touch */
    .get-in-touch h2 {
        font-size: 12.1vw;
        transform: scaleX(1.12);
    }
    .get-in-touch a {
        flex-direction: row;
        gap: 2rem;
        top: -8vw;
    }

    .get-in-touch p:hover {
        cursor: url("../assets/cursor/cursor-hover.svg"), auto;
    }

    .get-in-touch img:hover {
        cursor: url("../assets/cursor/cursor-hover.svg"), auto;
    }

    .get-in-touch img {
        width: 2.2rem;
    }
    .get-in-touch p {
        font-size: 3vw;
    }
    .grid-values {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 1rem;
    }

    .grid-values-team {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 0rem;
        text-align: center;
    }

    .grid-team {
        width: 60% !important;
        padding-top: 1em;
    }

    .about {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .services div {
        gap: 1rem;
    }
    .service-1 {
        grid-column-start: 1;
    }
    .service-2 {
        grid-column-start: 9;
    }
    .service-3 {
        grid-column-start: 4;
    }
    .service-4 {
        grid-column-start: 7;
    }
    .service-5 {
        grid-column-start: 10;
    }
    .service-6 {
        grid-column-start: 2;
    }
    .service-7 {
        grid-column-start: 9;
    }
    .service-8 {
        grid-column-start: 5;
    }
    .service-9 {
        grid-column-start: 8;
    }
    .service-10 {
        grid-column-start: 1;
    }
}
@media (min-width: 1024px) {
    /* General settings */
    body {
        margin-top: 0;
    }

    section {
        margin-left: var(--mxBodyDesktop);
        margin-right: var(--mxBodyDesktop);
    }

    section:first-child {
        margin-top: 0rem;
    }

    .dino {
        margin-top: 0;
        overflow: visible;
        height: 50vw;
        width: fit-content;
        max-width: none;
        max-height: 54rem;
    }

    /* work pages */
    .intro-work h1 {
        font-size: 5vw;
    }

    /*DETAIL*/
    .about-detail-1 {
        line-height: 1.5em;
    }
    .other-width{
        width: 70%;
    }

    .detail-text {
        display: flex;
    }

    .detail-eyecatcher {
        margin-right: 5rem;
        margin-left: 5rem;
    }


    .detail-eyecatcher-2 {
        margin-right: 5rem;
        margin-left: 5rem;
    }

    .detail-eyecatcher-3 {
        margin-right: 5rem;
        margin-left: 5rem;
    }

    .project-green-other div img {
        max-width: 35vw;
        object-fit: contain;
    }

    .project-red-other div img {
        max-width: 35vw;
        object-fit: contain;
    }

    /* Contact page */
    /* Contact */
    .h1-contact {
        font-size: 5vw;
    }

    .contact-right {
        display: block;
    }

    .contact-right img {
        width: 28rem;
        height: 28rem;
        object-fit: cover;
    }

    .contact-content {
        margin-left: var(--mxBodyDesktop);
        margin-right: var(--mxBodyDesktop);
        flex-direction: row;
        justify-content: space-between;
    }

    .contact-left div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;

        margin-bottom: 2rem;
    }

    .contact-left div a{
        padding-bottom: 0;
    }

    .contact-left div a img:hover {
        cursor: url("../assets/cursor/cursor-hover.svg"), auto;
    }

    .contact-mail-phone a {
        font-size: 1.3rem;
    }

    .contact-icon-small {
        width: 2rem;
        margin-bottom: .2rem;
        margin-left: .9rem;
    }

    .contact-mail-phone:nth-child(2) img {
        margin-left: .51rem;
    }

    .contact-icon:hover {
        cursor: url("../assets/cursor/cursor-hover.svg"), auto;
    }

    /* Teams page */
    /* team members */
    main .intro-team {
        margin-top: 10rem;
    }

    .intro-team h1 {
        font-size: 5vw;
        margin-bottom: 1rem;
    }

    .team-member p {
        font-size: 1rem;
    }

    .member-1 img {
        width: 23rem;
    }
    .member-1 .description-wrapper {
        width: 23rem;
    }

    .member-1 {
        top: -15px;
        left: -200px;
    }

    .member-2 img {
        width: 22.8rem;
    }

    .member-2 .description-wrapper {
        width: 22.8rem;
    }

    .member-2 {
        top: -124px;
        left: 276px;
    }

    .member-3 img {
        width: 22.9rem;
    }

    .member-3 .description-wrapper {
        width: 22.9rem;
    }

    .member-3 {
        top: -239px;
        left: -275px;
    }

    .member-4 img {
        width: 18rem;
    }

    .member-4 .description-wrapper {
        width: 18rem;
    }

    .member-4 {
        top: -320px;
        left: 120px;
    }

    .member-5 img {
        width: 28rem;
    }

    .member-5 .description-wrapper {
        width: 28rem;
    }

    .member-5 {
        top: -200px;
        left: -155px;
    }

    .member-6 img {
        width: 23.1rem;
    }

    .member-6 .description-wrapper {
        width: 23.1rem;
    }

    .member-6 {
        top: -260px;
        left: 280px;
    }

    .member-7 img {
        width: 23rem;
    }

    .member-7 .description-wrapper {
        width: 23rem;
    }

    .member-7 {
        top: -300px;
        left: -270px;
    }

    .member-8 img {
        width: 28rem;
    }

    .member-8 .description-wrapper {
        width: 28rem;
    }

    .member-8 {
        top: -250px;
        left: 0;
    }

    .member-9 img {
        width: 28rem;
    }

    .member-9 .description-wrapper {
        width: 28rem;
    }

    .member-9 {
        top: -170px;
        left: 240px;
    }

    .member-10 img {
        width: 23rem;
    }

    .member-10 .description-wrapper {
        width: 23rem;
    }

    .member-10 {
        top: -200px;
        left: -275px;
    }

    .member-11 img {
        width: 23rem;
    }

    .member-11 .description-wrapper {
        width: 23rem;
    }

    .member-11 {
        top: -200px;
        left: 160px;

        margin-bottom: -845px; /* Remove the margin position relative leaves behind */
    }

    /* Navigation */
    .menu-wrap-compact {
        display: none; /* You can't change html element order in css so just don't display this and display another one */
    }

    .menu-wrap-full {
        display: inline;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
    }

    .menu-wrap-full nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: var(--mxBodyDesktop);
        margin-right: var(--mxBodyDesktop);
    }

    .menu-wrap-compact .menu-wrapper nav a {
        padding: .5rem;
    }

    .menu-wrap-full nav a {
        padding: .5rem;
    }

    .logo-link {
        margin-left: 7rem;
        margin-right: 7rem;
    }

    .logo {
        cursor: url("../assets/cursor/cursor-hover.svg"), auto;
    }

    /* Work page */
    .project-preview-page {
        margin-bottom: 6rem;
    }

    /* Index page */
    .intro {
        flex-direction: row;
        justify-content: space-between;
        gap: 0rem;

        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        padding-left: var(--mxBodyDesktop);
        height: 100vh;
    }

    .intro-text {
        align-items: flex-start;
        width: 50%;

        margin-top: 5rem;
    }

    .intro-text h1 {
        font-size: 5vw;
        text-align: left;
        padding-right: 5rem;

        max-width: none;
    }

    .intro-text p {
        text-align: left;
        padding-right: 10rem;
        max-width: none;
        font-size: 18px;
        line-height: 131.88%;
    }

    .intro-text a {
        margin-top: 3rem;
    }

    .intro-visual {
        width: 50%;
        height: 100%;
        background-image: url("../assets/blue-bg-with-texture.jpg");
        padding-left: var(--mxBodyDesktop);
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: space-between;
        overflow: hidden;
    }

    .scroll-hint {
        display: inline;
        position: relative;
        top: -3rem;
        left: -5rem;

        transform: rotate(-90deg);
    }

    .scroll-hint p {
        position: relative;
        text-align: end;
        margin-bottom: .7rem;

        animation-name: scrollHint;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration:6s;
        animation-delay: 3s;
    }

    .scroll-hint-line {
        background-color: white;
        height: 2px;
        width: 8rem;
    }

    /* Footer */
    .footer {
        background-color: var(--bgOffGrey);
        color: var(--txtColor);
        height: 400px;
        position: relative;
        align-items: center;
        justify-content: center;

    }

    .footer-logo {
        text-align: center;
        width: 18rem;
        padding-left: 2rem;
    }

    .footer .footer-content {
        height: 350px;
        display: flex;
        flex-direction: row;
        text-align: left;
    }

    .footer .footer-content .footer-section {
        flex: 1;
        padding: 4rem 2rem 5rem;
        align-items: flex-start;
    }

    .footer .footer-content .footer-section p{
        margin-bottom: 1.5rem;
    }

    .footer .footer-content .footer-section .pages ul li {
        display: block;
        margin-bottom: 10px;
    }

    .footer .footer-content .footer-section .pages ul li a {
        text-align: left;
    }

    .footer .footer-section .footer-title {
        font-size: 1.1rem;
        text-align: left;
    }

    /* projects */
    .project-preview h2 {
        font-size: 3.4rem;
        margin-top: 8rem;
    }

    .project {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .project-blue {
        position: relative;
        top: -160px;
        left: 280px;
    }

    .project-red {
        position: relative;
        top: -140px;
        left: -80px;

        margin-bottom: -130px;
    }

    .project-yellow {
        position: relative;
        top: -140px;
        left: 260px;

        margin-bottom: -130px;
    }

    .project-green {
        position: relative;
        top: -10px;
        left: -140px;
    }

    .project-blue div img {
        width: 17rem;
    }

    .project-green div img {
        width: 22rem;
    }

    .project-red div img {
        width: 26rem;
    }


    .project-yellow div img {
        width: 18rem;
    }

    .project h3 {
        font-size: 1rem;
        margin-top: .8rem;
    }
    /* Index team */
    .team-section {
        margin-top: 10rem;
    }
    .team-section h2 {
        font-size: 3.4rem;
        max-width: none;
        margin-bottom: 1.6rem;
    }

    .team-section div {
        max-width: 60vw;
    }
    /* Get in touch */
    .get-in-touch h2 {
        font-size: 12.1vw;

        transform: scaleX(1.13);
    }
    .get-in-touch p {
        font-size: 2rem;
    }

    .grid-values {
        gap: 6rem;
        margin-left: var(--mxBodyDesktop);
        margin-right: var(--mxBodyDesktop);
    }

    .grid-values-team {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        gap: 0rem;
        text-align: center;
    }

    .grid-team {
        width: 80% !important;
        padding-top: 1em;
    }

    .intro-approach h1 {
        font-size: 5vw;
        margin-bottom: 7rem;
    }

    .intro-approach h3 {
        font-size: 2vw;
    }
    .about {
        margin-left: var(--mxBodyDesktop);
        margin-right: var(--mxBodyDesktop);
        padding-left: 6rem;
        padding-right: 6rem;
    }
    .team-section-short {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        align-items: center;
        gap: 5rem;
        text-align: left;
    }
    .col-span-2 {
        grid-column: span 2 / span 2;
    }
    .team-section-short h2 {
        text-align: left;
    }
    .team-section-short img {
        display: block;
        width: 100%;
    }
    .services h2 {
        font-size: 4vw;
    }
    .services div {
        grid-template-columns: repeat(15, minmax(0, 1fr));
        gap: 0.5rem;
    }
    .service-1 {
        grid-column-start: 5;
    }
    .service-2 {
        grid-column-start: 13;
    }
    .service-3 {
        grid-column-start: 4;
    }
    .service-4 {
        grid-column-start: 9;
    }
    .service-5 {
        grid-column-start: 13;
    }
    .service-6 {
        grid-column-start: 3;
    }
    .service-7 {
        grid-column-start: 10;
    }
    .service-8 {
        grid-column-start: 14;
    }
    .service-9 {
        grid-column-start: 4;
    }
    .service-10 {
        grid-column-start: 7;
    }
    .hatch {
        padding-left: var(--mxBodyDesktop);
        padding-right: var(--mxBodyDesktop);
    }
    .hatch h2 {
        font-size: 4vw;
    }
    .hatch span {
        color: var(--primaryGreen);
        text-transform: uppercase;
        font-family: var(--secondaryFont);
        letter-spacing: 130%;
    }
    .eggs-desktop {
        display: block;
        width: 50rem;
    }
    .eggs-mobile {
        display: none;
    }

    /* Cookie policy */
    main .intro-policy {
        margin-top: 10rem;
    }

    .intro-policy h1 {
        font-size: 7rem;
    }

    .policy-main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 1400px) {
    /* Services */
    .service-1 {
        grid-column-start: 5;
    }
    .service-2 {
        grid-column-start: 11;
    }
    .service-3 {
        grid-column-start: 6;
    }
    .service-4 {
        grid-column-start: 9;
    }
    .service-5 {
        grid-column-start: 12;
    }
    .service-6 {
        grid-column-start: 4;
    }
    .service-7 {
        grid-column-start: 10;
    }
    .service-8 {
        grid-column-start: 7;
    }
    .service-9 {
        grid-column-start: 11;
    }
    .service-10 {
        grid-column-start: 6;
    }

    /* Teams page */
    /* team members */
    .pictures-team {
        margin-bottom: 12rem;
    }

    main .intro-team {
        margin-top: 12.2rem;
    }

    .intro-team p {
        max-width: none;
    }

    .team-member p {
        letter-spacing: 0.12em;
    }

    .member-1 img {
        width: 31.8rem;
    }

    .member-1 .description-wrapper {
        width: 31.8rem;
    }

    .member-1 {
        top: 48px;
        left: -270px;
    }

    .member-2 img {
        width: 32rem;
    }

    .member-2 .description-wrapper {
        width: 32rem;
    }

    .member-2 {
        top: -80px;
        left: 385px;
    }

    .member-3 img {
        width: 31.7rem;
    }

    .member-3 .description-wrapper {
        width: 31.7rem;
    }

    .member-3 {
        top: -50px;
        left: -350px;
    }

    .member-4 img {
        width: 25rem;
    }

    .member-4 .description-wrapper {
        width: 25rem;
    }

    .member-4 {
        top: -80px;
        left: 200px;
    }

    .member-5 img {
        width: 39rem;
    }

    .member-5 .description-wrapper {
        width: 39rem;
    }

    .member-5 {
        top: 280px;
        left: -215px;
    }

    .member-6 img {
        width: 32rem;
    }

    .member-6 .description-wrapper {
        width: 32rem;
    }

    .member-6 {
        top: 180px;
        left: 390px;
    }

    .member-7 img {
        width: 31.5rem;
    }

    .member-7 .description-wrapper {
        width: 31.5rem;
    }

    .member-7 {
        top: 200px;
        left: -380px;
    }

    .member-8 img {
        width: 38.5rem;
    }

    .member-8 .description-wrapper {
        width: 38.5rem;
    }

    .member-8 {
        top: 350px;
        left: 0;
    }

    .member-9 img {
        width: 38rem;
    }

    .member-9 .description-wrapper {
        width: 38rem;
    }

    .member-9 {
        top: 600px;
        left: 335px;
    }

    .member-10 img {
        width: 31.8rem;
    }

    .member-10 .description-wrapper {
        width: 31.8rem;
    }

    .member-10 {
        top: 400px;
        left: -380px;
    }

    .member-11 img {
        width: 31.6rem;
    }

    .member-11 .description-wrapper {
        width: 31.6rem;
    }

    .member-11 {
        top: 500px;
        left: 170px;

        margin-bottom: 800px !important; /* Remove the margin position relative leaves behind */
    }
    .mt-20 {
        margin-top: 20rem;
    }

    /* some projects */
    .project-blue {
        top: -160px;
        left: 390px;
    }

    .project-red {
        top: -270px;
        left: -140px;

        margin-bottom: -270px;
    }

    .project-yellow {
        top: -200px;
        left: 340px;

        margin-bottom: -270px;
    }


    .project-green {
        top: -10px;
        left: -260px;
    }

    .project-blue div img {
        width: 22rem;
    }

    .project-green div img {
        width: 30rem;
    }

    .project-red div img {
        width: 26rem;
    }

    .project-yellow div img {
        width: 20rem;
    }

    /* Contact */
    .contact-mail-phone a {
        font-size: 2rem;
    }

    .contact-right img {
        width: 33rem;
        height: 33rem;
    }

    /*DETAIL*/
    .project-green-other div img {
        max-width: 35vw;
    }

    .project-red-other div img {
        max-width: 35vw;
    }
}

@media ( max-height: 800px ) {

    .intro-text {
        margin-top: 6rem;
    }

    .dino {
        max-height: 40rem;
    }
}

@keyframes scrollHint {
    0% {
        left: 0rem;
        opacity: 1;
    }

    4% {
        left: -1rem;
        opacity: 1;
    }

    8% {
        left: 0rem;
        opacity: 1;
    }

    100% {
        left: 0rem;
        opacity: 1;
    }
}